<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag 'home/style' %>
  <title>佳安美</title>
  <%= javascript_include_tag 'home/jquery-1.7.1.min' %>
  <link rel="shortcut icon" href="<%= image_url('jam.ico') %>" />
  <meta name="keywords" content="佳安美，深圳佳安美，智能家居，指纹锁，密码锁，电子锁，ic，app开锁" />
  <meta name="description" content="佳安美，王力，盼盼，天地钩，万能互换，代理，加盟" />
</head>
<body>
<div class="header">
  <%= render 'share/header' %>
</div>
<!--banner-->
<% cache("banner/agent") do %>
<div class="sw_banner jr_banner">
  <div class="tel"><em>加盟热线 400-070-5860</em></div>
</div>
<% end %>

<div class="affairs">
  <div class="sw">
    <h3>代理加盟</h3>
    <dl>
      <dd>我司专业研发生产销售 智能家居 指纹安防系列产品主要产品有：智能垃圾桶、智能扫地机器人、多功能触摸面板、智能 开窗器、智能烟雾煤气报警器、无线门磁、红外幕墙、云视通、背景音乐、指纹防盗锁等等；并且所有智能 产品均可加入远程控制APP，实现出门在外就能控制家中电器设备，并且IP摄像头可提供家中实时画面， 安全舒适、尊享奢华；随着科技不断在进步，智能化的生活已经离我们越来越近，还记得当年智能手机的上市 我们也是怀着怀疑的态度，手机性能好不好、操作稳不稳定、几年后全球几乎人手一部智能手机；不要怀疑 智能化的产品，因为智能化将是不久以后的一个主题，谁先掌握先机，谁就真正掌握了财富.</dd>
      <dd>&nbsp;</dd>
      <dd>深圳佳安美智能科技有限公司真诚邀请全国代理经销商的加盟， 与您一起携手开拓市场！加盟热线 400-070-5860！</dd>
    </dl>
  </div>
</div>

<!--footer-->
<div class="footer">
  <%= render 'share/footer' %>
</div>
</body>
</html>