<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag 'home/style' %>
  <title>佳安美</title>
  <%= javascript_include_tag 'home/jquery-1.7.1.min' %>
  <link rel="shortcut icon" href="<%= image_url('jam.ico') %>" />
  <meta name="keywords" content="佳安美，深圳佳安美，智能家居，指纹锁，密码锁，电子锁，ic，app开锁" />
  <meta name="description" content="佳安美，王力，盼盼，天地钩，万能互换，代理，加盟" />
</head>
<body class="bodybg">
<div class="header topicfixed">
  <%= render 'share/header' %>
</div>
<div class="ht80"></div>
<div class="detailed">
  <div class="article">
    <h1>干瘦不算美 塑造线条再多做3种运动</h1>

    <div class="time">2015年07月23日 06:00:00</div>
    <div class="con">
      <p>
        很多人减肥都只知道想要瘦，可是坚持了很久的跑步瑜伽健身操，瘦成了竹竿的你却瘦不出好看的线条和气质，干巴巴的瘦一点都不美！别人家的妹纸瘦下来却是身材紧实有力，线条流畅前凸后翘的“吸睛神器”。不是你不够认真，而是你不懂再多做这些运动的好处，减脂过后要打造有型的线条身材，你的运动方式需要进化才行！除了跑步瑜伽和健身操这三种运动方法最适合不过哦。</p>

      <p>&nbsp;</p>

      <p style="text-align:center"><%#= image_tag('home/dttu4.jpg') %></p>

      <p>&nbsp;</p>

      <p>
        有氧搏击能被广大美女接受，全赖近年来维密天使们的大力推崇，别以为它就是男人的粗鲁运动，将拳击、空手道、跆拳道、功夫和一些舞蹈动作混合后的搏击运动也是适合女性锻炼的好方法。在激烈的音乐中，进行一些拳击和跆拳道的基本拳法和腿法练习。在出拳、踢腿的过程中，随着音乐挥动双拳，动作刚劲有力，可以尽情地发泄，尽情地流汗。是一种新兴的“野蛮”减肥时尚。</p>

      <p>&nbsp;</p>

      <p>功效：</p>

      <p>1.让都市白领有了另一种释放身心的方式，现代人普遍工作压力大，出拳时，腹肌收缩、大吼一声，不但可锻炼到平时不易使用的腰腹肌，用力出拳、大吼大叫都是纾解情绪的好方法。</p>

      <p>2.瘦身效果十足，由于瞬间爆发力强、肢体伸展幅度大，运动量比传统的健美操更大，跳个十五至二十分钟，约相当于三十分钟的有氧舞蹈，至少可消耗二三百卡热量。</p>

      <p>3.动作简单易学，只需做出许多不断重复的拳击、比韵律操更容易上手。</p>

      <p>4.有氧搏击操不只燃烧热量，在锻练全身每一块肌肉的同时，身体的弹性、柔韧性及反应速度也将得到前所未有的提。</p>

      <p>&nbsp;</p>

      <p style="text-align:center"><%#= image_tag('home/dttu4.jpg') %></p>
    </div>
  </div>
</div>
<!--footer-->
<div class="footer">
  <%= render 'share/footer' %>
</div>
</body>
</html>
