<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag 'home/style' %>
  <title>佳安美</title>
  <%= javascript_include_tag 'home/jquery-1.7.1.min' %>
  <link rel="shortcut icon" href="<%= image_url('jam.ico') %>" />
  <meta name="keywords" content="佳安美，深圳佳安美，智能家居，指纹锁，密码锁，电子锁，ic，app开锁" />
  <meta name="description" content="佳安美，王力，盼盼，天地钩，万能互换，代理，加盟" />
</head>
<body>
<div class="header">
  <%= render 'share/header' %>
</div>
<!--banner-->
<div class="sw_banner fq_banner">
</div>
<!--banner End-->
<div class="affairs">
  <div class="sw">
    <h3>常见问题</h3>
    <dl>
      <dt>Q: 如何辨别我家门能不能装佳安美的锁？</dt>
      <dd>A: 亲，只要您家防盗门符合国家标准设计，就可以安装。而且我们有专业老师傅亲自上门服务，就算万一有特殊原因装不上，无条件退货退款。</dd>
    </dl>
    <dl>
      <dt>Q: 门锁没电了怎么办？</dt>
      <dd>A: 亲，没电，佳安美门锁就变成一个普通的锁，绝对不会自动开门，用钥匙仍旧可以打开。门锁装上4节五号电池能正常使用1年，当电量低时，门锁也会发出语音提醒。</dd>
    </dl>
    <dl>
      <dt>Q: 门锁支持天地钩吗？</dt>
      <dd>A: 亲，佳安美门锁都可联动天地钩，带天地钩的门我们也支持安装的。</dd>
    </dl>
    <dl>
      <dt>Q: 王力、盼盼门能不能装佳安美的锁？</dt>
      <dd>A: 亲，只要您家防盗门符合国家标准设计，就可以安装。而且我们有专业老师傅亲自上门服务，就算万一有特殊原因装不上，无条件退货退款。</dd>
    </dl>
    <dl>
      <dt>Q: 我家门的超厚，能不能装佳安美的锁？</dt>
      <dd>A: 亲，都可安装的，长短不一的配件我们都有。并有专业老师傅亲自上门服务，就算万一有特殊原因装不上，无条件退货退款。</dd>
    </dl> 
  </div>
</div>
<!--footer-->
<div class="footer">
  <%= render 'share/footer' %>
</div>
</body>
</html>
