<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag 'home/style' %>
  <title>佳安美</title>
  <%= javascript_include_tag 'home/jquery-1.7.1.min' %>
  <link rel="shortcut icon" href="<%= image_url('jam.ico') %>" />
  <meta name="keywords" content="佳安美，深圳佳安美，智能家居，指纹锁，密码锁，电子锁，ic，app开锁" />
  <meta name="description" content="佳安美，王力，盼盼，天地钩，万能互换，代理，加盟" />
</head>
<body>
<div class="header">
  <%= render 'share/header' %>
</div>
<!--banner-->
<div class="sw_banner jb_banner">
  <div class="tel"><em>简历投递 hr@jiaanmei.com</em></div>
</div>
<!--banner End-->
<div class="jobbox">
  <h1>招聘职位</h1>

  <div class="jobcon">
    <div class="job_l">
      <h3>销售精英</h3>
      <dl>
        <dt>职位描述</dt>
        <dd>
          <p>1．智能家居系统，私家影院，数字具备较强的市场开拓、客户沟通能力，较强的沟通技巧能从容应对与中高层客户进行业务谈判。</p>

          <p>2．沟通能力强、能从容应对高层谈判；收集客户需求，最短时间内满足客户需求。</p>

          <p>3．开展智能家居业务拓展工作，推广公司的产品及服务。</p>

          <p>4．根据客户的需求提供个性化的智能家居定制方案。</p>

          <p>5．智能家居工程安装跟进、客户沟通及问题的及时反馈解决。</p>

          <p>6．工程款交付的跟进。</p>
        </dd>
      </dl>
      <dl>
        <dt>岗位要求</dt>
        <dd>
          <p>1．一年以上智能家居工作经验，有家居、安防监控、电子行业经历优先，具备一定设计师、业主资源等。</p>

          <p>2．熟悉智能家居、家庭影院、灯光控制等系统，有一定的弱电基础，懂得相关集成产品，熟悉方案设计工作。</p>

          <p>3．较强的独立分析问题和解决问题的能力。</p>

          <p>4．强烈的责任感和很好的团队合作精神，具备很强的自学能力，能够承受工作压力。</p>

          <p>5．对工作有激情、执着、敬业, 思维清晰、思维敏捷，有快速的学习能力。</p>

          <p>6．较好的谈吐，形象好，气质佳。</p>

          <p>7．敢于挑战高薪，抗压能力强。</p>
        </dd>
      </dl>
    </div>

    <div class="job_r">
      <h3>资深ios软件工程师</h3>
      <dl>
        <dt>职位描述</dt>
        <dd>
          <p>1．负责ios应用开发。</p>

          <p>2．根据策划案、系统设计和需求分析，实现软件产品功能。</p>

          <p>3．具备丰富的ios类产品使用经验、熟悉ios平台应用的设计理念。</p>

          <p>4．精通IPhone开发平台，至少3年以上的实际IPhone平台开发经验，对IPhone系统有全面的了解，能根据产品设计独立进行应用程序开发。</p>

          <p>5．具备基于类Unix系统的网络应用开发知识和相关开发经验。</p>
        </dd>
      </dl>
      <dl>
        <dt>岗位要求</dt>
        <dd>
          <p>1．大专及以上学历，计算机或相关专业毕业。</p>

          <p>2．熟悉Linux内核，Android SDK，iOS SDK，具备3年以上实际ios平台开发经验，5年以上软件开发经验。</p>

          <p>3．熟练掌握以下编程语言任一种：Object C，Swift。</p>

          <p>4．热于学习新的技术并勇于在实际编程中使用，乐观进取。</p>

          <p>5．在主流开源社区承担过Maintainer/committer、PMC等角色优先。</p>
        </dd>
      </dl>
    </div>
  </div>
</div>
<!--footer-->
<div class="footer">
  <%= render 'share/footer' %>
</div>
</body>
</html>
