<!DOCTYPE html>
<html>
<head>
  <title>佳安美</title>
  <link rel="shortcut icon" href="<%= image_url('jam.ico') %>" />
  <meta name="keywords" content="佳安美，深圳佳安美，智能家居，指纹锁，密码锁，电子锁，ic，app开锁" />
  <meta name="description" content="佳安美，王力，盼盼，天地钩，万能互换，代理，加盟" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>